<div class="home-container">
  <section class="hero">
    <div class="hero-content">
      <div class="hero-text">
        <h1>Hello, I'm Yoseph 👋</h1>
        <!-- <h2>{{counter}}</h2> -->
        <h2>Full-Stack Developer & Tech Enthusiast</h2>
        <p>
        {{displayedNote}}
        </p>
        <a routerLink="/protofolio/projects"  class="cta-button" aria-label="View projects">See My Projects</a>
      </div>

      <div class="hero-image">
        <img src="/IMG_6828.JPG" alt="Yoseph Profile Photo" />
      </div>
    </div>
  </section>
</div>
